                                        
                                                         
                                     <%= form_for [:admin, @comment], html: {class: "outer-repeater", remote: false} do |f| %>
                                            <div class="outer">
                                                <div class="outer">
                                                 
                                                    <div class="form-group row mb-4">
                                                        <label class="col-form-label col-lg-2">Nội dung</label>
                                                        <div class="col-lg-10">
                                                            <div class="">Bạn đang nghĩ gì ?</div>
                                                            <%= f.text_area :body, class: "summernote" %>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                             <div class="row justify-content-end">
                                                <div class="col-lg-10">
                                                    <button type="submit" class="btn btn-primary new-post">Cập nhật</button>
                                                    <%= link_to "Hủy", admin_posts_path , class: "btn btn-secondary" %>
                                                </div>
                                            </div>
                                        
                                            <% end %>