
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="avatar-xs mr-3">
                                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                                            <i class="bx bx-pencil"></i>
                                                        </span>
                                                    </div>
                                                    <h5 class="font-size-14 mb-0">Tổng số bài viết</h5>
                                                </div>
                                                <div class="text-muted mt-4">
                                                    <h4><%= @count_post %></h4>
                                                    <div class="d-flex">
                                                        <span class="badge badge-soft-success font-size-12"> +<%= @post_of_today%> </span> <span class="ml-2 text-truncate"> hôm nay</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="avatar-xs mr-3">
                                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                                            <i class="bx bx-lock"></i>
                                                        </span>
                                                    </div>
                                                    
                                                    <h5 class="font-size-14 mb-0">
                                                      <a href="/users/edit"> Người dùng</a>
                                                    </h5>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
        
                    
                                </div>
                                <!-- end row -->
                            </div>
                        </div>