<div class="row">
    <div class="col-12 col-lg-9" id="list_post">
        <%= render partial: 'list_post' %>
    </div>
    <div class="col-12 col-lg-3"></div>

</div>

<!-- end row -->

<%= render partial: 'categories/list' %>

                  